@font-face {
  font-family: "nunito";
  src: url("../assets/fonts/Nunito-Light.ttf"); }

/*fondo y fuente de toda la pagina*/
body {
  background-color: #403d39;
  font-family: "nunito";
  color: #f2ebe2; }

p {
  margin: 20px;
  text-align: center; }

nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; }

li {
  padding: 30px; }

a {
  color: #f2ebe2;
  text-decoration: none;
  font-size: 16px;
  position: relative; }
  a:hover {
    color: #f3dfc1;
    font-size: 18px; }

@media only screen and (min-width: 769px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "logo nav nav nav nav" "main main main main main" "footer footer footer footer footer" "redes redes redes redes redes";
    grid-template-rows: 160px 1fr 50px 50px;
    grid-template-columns: 20% 20% 20% 20% 20%; }
    .gridContainer .logo {
      grid-area: logo; }
    .gridContainer .nav {
      grid-area: nav; }
    .gridContainer .main {
      grid-area: main; }
    .gridContainer footer {
      grid-area: footer; }
    .gridContainer .redes {
      grid-area: redes; } }

footer {
  color: #f2ebe2;
  font-size: 16px;
  text-align: center; }

.logo {
  color: #f2ebe2; }
