//nesting

nav{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

li {
	padding: 30px;
	}
	a { 
		color: $claro;
		text-decoration: none;
		font-size: 16px;
		position: relative;
			&:hover {
				color: $amarillo;
				font-size: 18px;
		}
	}
