
$styleFont: (
	menu: 16px,
	derechos: 14px,
	);


//nesting

nav{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

li {
	padding: 30px;
	}
	a { 
		color: $claro;
		text-decoration: none;
		font-size: map-get($styleFont, menu);
		position: relative;
			&:hover {
				color: $amarillo;
				font-size: 18px;
		}
	}
